body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}
.white-zone {
    padding-top: 111px;
    padding-bottom: 103px;
}
.item-massonry {    
    margin-bottom: 10px;
    width: 115px;
    height: 88px;
    float: left;
    
    
}
.item-massonry-width2 {
    width: 180px;
}
.item-massonry-height2 {
    height: 138px;
}
.item-massonry-width3 {
    width: 370px;
}
.item-massonry-height3 {
    height: 260px;
}
.item-massonry-height5 {
    height: 290px;
}
.item-massonry-height4{
    height: 380px;
}
/*.grid:after {
  content: '';
  display: block;
  clear: both;
}*/
.item-massonry img {
    display: block;
  max-width: 100%;
    position: relative;
}
.item-massonry.hidden {
    display: none;
}
.item-massonry--gigante {
  width: 100%;
   height: 100%;
}

.item-massonry:hover .cover-item-gallery {
    opacity: 0.5;
}
.cover-item-gallery {   
     background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0;
    bottom: 0;   
    transition: 0.4s;    
    display: flex;
   justify-content: center;
    align-items: center;
    
}
.both {    
    background-color: #14b9d5;
    border-radius: 3px;
    color: #fff;    
    padding: 10px;
    margin-left: 5px;
   
}